.container_table{
    margin: 20px 30px 50px 30px;
}

.spanFile{
    margin-right: 5px;
}

.inputFilter{
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
}

.svgfilter{
    cursor: pointer;
    display:inline-block;
    width: 15px;
    height: 15px;
}

.containerDrop{
    display: inline-block;
    margin-left: 10px;
    background-color: pink;
}

